---
interface Props {
    objectives: { mainTitle: string | undefined; title: string; description: string }[];
}

const {objectives} = Astro.props;
---

<div class="shadow-xl rounded-xl p-6 dark:bg-gray-800 mb-8">
    {objectives.map((obj, index) => (
    <h2 class="text-center !text-xl">{obj.mainTitle}</h2>
    <ul class="list-none">
        <li class="flex items-start gap-2">
            <div>✔️</div>
            <div class="!my-0">
                <div class="font-bold">{obj.title}</div>
                <div class="opacity-80 !mt-0 !text-md">{obj.description}</div>
            </div>
        </li>
    </ul>
    ))}
</div>
