---
interface Props {
    translationSubmit: string | undefined;
    question: string;
    options: {
        label: string;
        rightAnswer: string;
    }[];
}

const {translationSubmit, question, options} = Astro.props;
---

<form>
    <fieldset>
        <!-- TODO to be fixed as a legend -->
        <div>{question}</div>
        <ul>
            {options.map(option => (
                    <li class="list-none shadow-lg rounded-xl py-2 px-4 border-2 border-gray-500">
                        <label class="flex gap-2 !m-0">
                            <input type="radio" name="question" value={option.rightAnswer}/>
                            {option.label}
                        </label>
                    </li>
            ))}
        </ul>
    </fieldset>

    <button type="submit">{translationSubmit}</button>
</form>
